<h1> RESULTS PAGE! </h1>



<%  data.Search.forEach(function(movie) {  %>
    <li>   <strong>Name: </strong>   <%=  movie.Title %>  <strong>  ----  Year: </strong> <%=  movie.Year %> <strong >  ----  Type: </strong> <%=  movie.Type  %> </li>
    <%  });  %>



