<h1>What's that movie?</h1>
<h2>SEARCH PAGE</h2>


<h3>Notice that type can be either movie, series or episode</h3>

<form action="/results" method="GET">
    <input type="text" placeholder="Movie" name="movie" required>
    <input type="text" placeholder="Year" name="year">
    <input type="text" placeholder="Type" name="type">
    <input type="submit">





</form>